<div class="col-lg-4">
    <div class="well">
        <div class="input-group">
            <form action="/blog/search/" method="get" align="right">
            <input type="text" name="search" class="form-control" id="blog-query" />
            <span class="glyphicon glyphicon-search">
            <input type="submit" value="Search" />
            </span>

            </form>
        </div>
    </div>
    <!-- Tag -->
    <div class="well" id="whatever">
        <h4>Tags</h4>
                    {% for title, count in tags %}
                    <a href="{% url 'blog:tag' title %}" rel="{{count}}">{{title}}</a>
                    {% endfor %}
    </div>

    <!-- github -->
    <div class="well">
        <h4>GitHub</h4>
        <p><a href="https://github.com/atyu30">A blog based on django and bootstrap3</a></p>
    </div>

</div>
